<!DOCTYPE html>
<html>
  <head>
    <title>ResearchApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
        <script type="text/javascript" src="/app/javascript/channels/chartjs-plugin-streaming.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/app/javascript/channels/jquery.fft.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>


  </body>
</html>
